@import "tailwindcss";

@theme {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-primary: #F59E0B;
  --color-secondary: #1E40AF;
  --color-text: #F1F5F9;
  --color-muted: #94A3B8;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
